$bgColor: slategray;
$color: #F6F6D6;
$font:Verdana, arial, sans-serif;
$marginW:2.5vw;

body{
    background-color: $bgColor;
    color: $color;
    font-family: $font;
}
header{
    text-align: center;
    padding-bottom: 5vh;
    nav{
        display: inline block;
    }
}
footer{
    background-color:$color;
    margin-top: $marginW;
    width: 100%;
    height: 10vh;
}
.img{background-color: black;}/*placeholder to be removed*/
img,.img{
    max-width: 40vw;
}
li,p,#cat, #cat2,#cat3,.img{
    margin-top: $marginW;
    margin-left: $marginW;
}
.art{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(2,1fr) ;
    gap: 30px;
    margin-left: 20px;
    margin-right: 20px;
    .back,.back2,.back3{
        text-align: center;
        visibility: hidden;
        margin-bottom: $marginW;
    }
    li,p{
        text-align: left;
        color: black;
    }
    #cat, #cat2,#cat3,li,p,.img{z-index: 1;}
    #cat,.box{grid-area: 1/1/1/3;}
    #cat2,.box2{grid-area: 1/3/1/5;}
    #cat3,.box3{grid-area: 2/1/2/3;}
    .img,.box4{grid-area: 2/3/2/5;}/*placeholder*/

    .box,.box2,.box3,.box4{
        max-width: 45vw;
        background-color: white;
    }
}
@import "mobile";
